body {

}

h1{
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
  weight:100;
  font-size: 30px;
}
.content article {
  padding: 100px 0;

  margin: 0 auto;
  text-align: center;
  background-color:#E80C36;
}
.featuretwo{
  background-color: #20d2bb;
  height: 700px;
  width: 100%;
}
#scrollDiv {
  height: 2000px;
}
.box{
  width: 100%;
  position: relative;
  height: 700px;
  background-color: #6B1C67;
  background-repeat: no-repeat;
  background-size:auto, 600px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;

}

.logo{
  position: absolute;
  height:375px;
  width: 100%;
//  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -280px;
  top: 50%;
}


.frontal{
  width: 870px;
  height: 720px;
  margin-top: 10px;
  background-image: url("../assets/nexus.png");
  background-repeat: no-repeat;
  background-position: right, bottom;
  position: relative;
  background-size: contain;
  left:30%;

}


.back{
  position: absolute;;
  height: 870px;
  width: 720px;
  margin-top: 10px;
background-position: right, bottom;
  //background-color: red;
  background-image: url("../assets/m8.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 350px;
  left:250px;
}
