body {

}

h1{
  font-family: "Open Sans", sans-serif;
  color: #ccc;
  weight:300;
}
.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}
#scrollDiv {
  height: 2000px;
}
.box{
  width: 100%;
  position: relative;
  height: 600px;
  background-image:url("../assets/fondo.jpg");
  background-repeat: no-repeat;
  background-size:auto, 600px;
  background-position: top center;
  background-attachment: fixed;

}

.logo{
  position: absolute;
  height:100px;
  width: 100%;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -50px;
  top: 50%;




}
